<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<a>Welcome to Swiss Bank</a><br />
<a href="/add">Add a Transaction</a><br />
<table>
<tr>
    <th>Account Number</th>
    <th>Amount</th>
    <th>Reason</th>
    <th>Action</th>

</tr>
<tr th:each="transaction : ${transactions}">
    <td th:text="${transaction.accountNumber}"></td>
    <td th:text="${transaction.amount}"></td>
    <td th:text="${transaction.reason}"></td>
    <td>

        <a th:href="@{/withdraw/{id}(id=${transaction.id})}">Withdraw</a>
        <a th:href="@{/deposit/{id}(id=${transaction.id})}">Deposit</a>
        <a th:href="@{/detail/{id}(id=${transaction.id})}">Details</a>

    </td>

</tr>
</table>
</body>
</html>